<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedy Club Tasks and Wheel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<section>
    <nav class="navbar">
        <a href="{{ url_for('main.home') }}" class="navbar-item">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Comedy Club Logo" width="48" height="48">
        </a>
        <a href="{{ url_for('main.index') }}" class="navbar-item">Comedians</a>
        <a href="{{ url_for('main.clubs') }}" class="navbar-item">Visit us</a>
        <a href="{{ url_for('main.contact') }}" class="navbar-item">Contact Me</a>
        <a href="{{ url_for('main.spin') }}" class="navbar-item">Spin</a>
        <a href="{{ url_for('auth.login') }}" class="navbar-item">Log In</a>
        <a href="{{ url_for('auth.register') }}" class="navbar-item">Register Now</a>
    </nav>
    
    <section>
        <h1>Our Comedy Clubs</h1>
        <p>Discover the best comedy clubs in town.</p>

        <div class="content">
            <div id="content"></div>

            <form action="{{ url_for('main.club') }}" method="post">
                <fieldset>
                    <legend>Upcoming Comedy Stand-Up Event in Ireland</legend>
                    <h2>Date: September 15, 2024</h2>
                    <h2>Time: 8:00 PM</h2>
                    <h2>Venue: The Comedy Cellar, Dublin</h2>
                    <p>Come join us for a night of laughter and fun at The Comedy Cellar in Dublin! Our lineup of talented comedians will have you in stitches with their hilarious stand-up routines.</p>
                    <p>Don't miss out on this unforgettable evening of comedy!</p>
                    <p><strong>Tickets are available now!</strong> Click the link below to buy your tickets:</p>
                    <p><a href="https://www.rte.ie/culture/2022/0917/1321401-5-funniest-irish-comedians-on-instagram/">Buy Tickets now to see our upcoming comics LIVE!</a></p>
                    <p>Contact us via email: <a href="mailto:kmat.adebisi@gmail.com">kmat.adebisi@gmail.com</a></p>
                </fieldset>
            </form>
    </section>

    <section>
            <table>
                <caption>Comedy Clubs In Ireland</caption>
                <thead>
                    <tr>
                        <th>Comedy Club</th>
                        <th>Location</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The Comedy Cellar</td>
                        <td>Dublin</td>
                        <td><a href="https://www.comedycellar.ie/">https://www.comedycellar.ie</a></td>
                    </tr>
                    <tr>
                        <td>The Laughter Lounge</td>
                        <td>Dublin</td>
                        <td><a href="https://www.laughterlounge.com/">https://www.laughterlounge.com</a></td>
                    </tr>
                    <tr>
                        <td>The International Comedy Club</td>
                        <td>Dublin</td>
                        <td><a href="https://www.internationalcomedyclub.com/">https://www.internationalcomedyclub.com</a></td>
                    </tr>
                    <tr>
                        <td>The Empire Comedy Club</td>
                        <td>Belfast</td>
                        <td><a href="https://www.thebelfastempire.com/venue/comedy-club">https://www.thebelfastempire.com/venue/comedy-club</a></td>
                    </tr>
                    <tr>
                        <td>The Roisin Dubh Comedy Club</td>
                        <td>Galway</td>
                        <td><a href="https://www.roisindubh.net/entertainment.html">https://www.roisindubh.net/entertainment.html</a></td>
                    </tr>
                    <tr>
                        <td>The Bankers Comedy Club</td>
                        <td>Dublin</td>
                        <td><a href="https://www.facebook.com/thebankerscomedy/">https://www.facebook.com/thebankerscomedy</a></td>
                    </tr>
                    <tr>
                        <td>Cherry Comedy</td>
                        <td>Dublin</td>
                        <td><a href="https://www.cherrycomedy.com/">https://www.cherrycomedy.com</a></td>
                    </tr>
                    <tr>
                        <td>The Comedy Crunch</td>
                        <td>Dublin</td>
                        <td><a href="https://www.thecomedycrunch.com/">https://www.thecomedycrunch.com</a></td>
                    </tr>
                    <tr>
                        <td>The Empire Laughs Back</td>
                        <td>Belfast</td>
                        <td><a href="https://www.thebelfastempire.com/venue/comedy-club">https://www.thebelfastempire.com/venue/comedy-club</a></td>
                    </tr>
                    <tr>
                        <td>Anseo Comedy Club</td>
                        <td>Dublin</td>
                        <td><a href="https://www.facebook.com/AnseoComedyClub/">https://www.facebook.com/AnseoComedyClub</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>
    
        <div>
            <button onclick="backToTop()" id="back-to-top">Back to Top</button>
        </div>
        
        <footer>
            <p>&copy; 2024 Comedy Club. All Rights Reserved.</p>
        </footer>
        
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </section>
</body>
</html>
