<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('main.about') }}" class="navbar-item">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        </a>
        <a href="{{ url_for('main.about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('main.projects') }}" class="navbar-item">Projects</a>
        <a href="{{ url_for('main.skills') }}" class="navbar-item">Skills</a>
        <a href="{{ url_for('main.contact') }}" class="navbar-item">Contact Me</a>
        <a href="{{ url_for('auth.login') }}" class="navbar-item">Log In</a>
        <a href="{{ url_for('auth.register') }}" class="navbar-item">Register Now</a>
    </nav>
    
    <main>

        <div id="skills-orbit">
            <div id="sun"><h2>My Skills</h2></div>
            <div class="orbit orbit-1">
                <div class="skill">HTML</div>
            </div>
            <div class="orbit orbit-2">
                <div class="skill">CSS</div>
            </div>
            <div class="orbit orbit-3">
                <div class="skill">JavaScript</div>
            </div>
            <div class="orbit orbit-4">
                <div class="skill">Python</div>
            </div>
            <div class="orbit orbit-5">
                <div class="skill">Git</div>
            </div>
            <div class="orbit orbit-6">
                <div class="skill">Github</div>
            </div>
            <div class="orbit orbit-7">
                <div class="skill">Render</div>
            </div>
            <div class="orbit orbit-8">
                <div class="skill">Js</div>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 My Portfolio. All Rights Reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/randomcolor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skills.js') }}"></script>
</body>
</html>
